.register {
    width: 100%;
    height: 100%;
    background: #81b4a8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerForm {
    width: 70%;
    height: 240px;
    background: white;
    padding: 30px;
}